.bg-move {
    animation: moveIt 10s linear infinite;
}

@keyframes moveIt {
    from {
        background-position: bottom left;
    }

    to {
        background-position: top right;
    }
}